:root {
    --green: 126, 181, 168;
    --green-light: #42C586;
    --purple: 163, 142, 207;
    --purple-light: #8B6BD0;
}

body {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 7rem;
    box-sizing: border-box;
    height: 100vh;
    font-family: "Baumans", sans-serif;
}

.page-title {
    text-align: center;
    font-size: 10rem;
}

.party-hard {
    animation: pulse 5s infinite;
  }
  @keyframes pulse {
    0% {
      color: #eb3a3a;
    }
    20% {
      color: #e0f734;
    }
    40% {
      color: #34f741;
    }
    50% {
        color: #34f7d3;
    }
    70% {
        color: #344bf7;
    }
    80% {
        color: #a934f7;
    }       
    100% {
        color: #f7345e;
    }         
  }

@media screen and (max-width:1440px) {
    .page-title {
        font-size: 6rem;
    }
}